html {
  /* Inside the quotes of url() is where to place the URL to the background image */
  background-image: url("/objayluv.jpg");


  background-color: #efefef;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0 auto;
  padding: 0.5em;
}

/* FONTS
 **************************************************/

/* Font for pretty much everything else */
body {
  font-family: "Georgia", serif;
}

/* Font for 'navigation' */
#navigation {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

#content,
#front-wrapper,
#page-wrapper {
  margin: 0 1em;
}

#page-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

#content img {
  max-width: 100%;
}

#navigation {
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

#navigation a {
  color: #808080;
  text-shadow: 0 0 2px rgba(153,255,44,0.9);
  text-decoration: none;
}

#navigation a:hover {
  border-bottom: 2px solid rgba(153,255,44,0.9);
}

#navigation a.active {
  border-bottom: 2px solid rgba(153,255,44,0.9);
}

#navigation h1 {
  display: inline;
  font-size: 1.4em;
  margin-right: 1.5em;
}

#navigation ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

#navigation ul li {
  display: inline;
  margin: 0 1em;
}

#navigation ul li:first-child {
  margin-left: 0;
}

#front-wrapper {
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
  margin: 3em auto;
}

#page-wrapper {
  background-color: rgba(220,220,220,0.8);
  padding: 0.5em 1.5em 1em;
  margin: 2em auto;
  line-height: 1.4em;
  overflow: auto;
}

.work-thumbnail {
  background-attachment: center center;
  background-size: cover;
  width: 49%;
  height: 300px;
  margin: 1em 1% 1em 0;
  float: left;
}

.work-thumbnail:nth-child(2n) {
  margin-right: 0;
  margin-left: 1%;
}

.work-thumbnail a {
  display: block;
  height: 100%;
  width: 100%;
}

.work-thumbnail a:hover {
  text-decoration: none;
  border: none;
  border-bottom: 5px solid white;
}

.scoot-post {
  margin: 3em 0;
}
